<dx-toolbar [items]="items">

</dx-toolbar>
<div class="diagram-parent">
  <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)"></app-diagram>

  <div class="import-error" *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
</div>
<dx-popup contentTemplate="popup-content" [width]="'70%'" [height]="400" [showTitle]="true"
  title="Abrir flujo de trabajo" [dragEnabled]="false" [closeOnOutsideClick]="false" [showCloseButton]="false"
  container=".dx-viewport" [(visible)]="popupVisible">
  <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="before" [options]="closeButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after" [options]="openButtonOptions">
  </dxi-toolbar-item>
  <dxo-position at="center-top" my="center-top">
  </dxo-position>
  <div *dxTemplate="let data of 'popup-content'">

    <dx-select-box #dropDownBoxWorflowList  [value]="workflowSelected.FLOW_NOMB"
                      (onValueChanged)="setFlowSelected($event)" [valueExpr]="'FLU_CONT'"
                      [displayExpr]="'FLU_NOMB'" [dataSource]="workflowList" placeholder="Seleccione"
                      [showClearButton]="true">
                      <div *dxTemplate="let data of 'content'">
                        <dx-data-grid (onRowClick)="workflowSelected.FLOW_NOMB = $event.value"
                          [dataSource]="workflowList" [selection]="{ mode: 'single' }"
                          [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }"
                          [filterRow]="{ visible: true }" [scrolling]="{ mode: 'infinite' }" height="100%"
                          [columnAutoWidth]="true" [allowColumnResizing]="true">
                          <dxi-column dataField="FLU_NOMB" caption="Flujo">
                          </dxi-column>                          
                        </dx-data-grid>
                      </div>
                    </dx-select-box>
  </div>
</dx-popup>