<dx-toolbar [items]="items">

</dx-toolbar>
<div class="diagram-parent">
  <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)"></app-diagram>

  <div class="import-error" *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
</div>
<dx-popup contentTemplate="popup-content" [width]="'70%'" [height]="400" [showTitle]="true"
  title="Abrir flujo de trabajo" [dragEnabled]="false" [closeOnOutsideClick]="false" [showCloseButton]="false"
  container=".dx-viewport" [(visible)]="popupVisible">
  <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="before" [options]="closeButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after" [options]="openButtonOptions">
  </dxi-toolbar-item>
  <dxo-position at="center-top" my="center-top">
  </dxo-position>
  <div *dxTemplate="let data of 'popup-content'">
    <dx-drop-down-box #dropDownBoxWorflowList [(value)]="workflowSelected.FLOW_NOMB" valueExpr="value"
      [deferRendering]="false" placeholder="Seleccionar..." [showClearButton]="true" [dataSource]="workflowList">
      <div *dxTemplate="let data of 'content'">
        <dx-data-grid [dataSource]="workflowList" [selection]="{ mode: 'single' }" [hoverStateEnabled]="true"
          [paging]="{ enabled: true, pageSize: 10 }" [filterRow]="{ visible: true }" [scrolling]="{ mode: 'infinite' }"
          height="100%" [columnAutoWidth]="true" [allowColumnResizing]="true">
        
        </dx-data-grid>
      </div>
    </dx-drop-down-box>

  </div>
</dx-popup>